.titolo {
    color:white;
    font-size: 200px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 1000;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    display: none;
    }
   
    .discord {
   width: 100px;
   height: 100px;
   border: 0px;
   border-radius:100%;
   margin-top: 0px;
   margin-bottom: 3px;
   filter: brightness(0.8)
   }
   
   .dscard{
   background-color:#2c2f33;
   width: 350px;
   
   text-align: center;
   border: 0px;
   border-radius: 15px;
   margin-right: 80px;
   margin-left: 50px;
   margin-top: 80px;
   box-shadow: 0px 0px 10px #191b1d;
   transition: all 0.3s ease-in-out;
   padding-bottom: 50px;
   display: inline-block;
   padding-top: 0px;
   }

body {
    padding:0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #25282b;
}

.parte1 {
    background-image: url("http://www.hwupgrade.it/i/n/windows11_leak_720.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    filter: brightness(0.3);
}

.nomeserver {
    color: white;
    font-size: 50px;
    margin-bottom: 60px;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
}

.unisciti {
    background-color: #2c2f33;
    color: #5663F7;
    text-decoration: none;
    border: 2px solid #5663F7;
    border-radius: 8px;
    padding: 15px 50px;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    
}

.unisciti:hover {
    background-color: #5663F7;
    color: #2c2f33
}

.dscard:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 14px #141516;
}

.sfondotesto {
    background-color:#2c2f33;
   width: 60%;
   text-align: center;
   border: 0px;
   border-radius: 15px;
   margin:100px auto;
   margin-top: 80px;
   box-shadow: 0px 0px 10px #191b1d;
   transition: all 0.3s ease-in-out

}

.sfondotesto:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 14px #141516;
    
}

.testo {
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    font-size: 40px;
    text-align: center;
}

.scrittads {
    
    color: #7289da;
}

.scrittaig {
    
    background-image: linear-gradient(60deg, #ffdf9e, #ffc273, #e56969, #c1558b, #8a49a1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}

.igcard{
    background-color:#2c2f33;
    width: 350px;
    
    text-align: center;
    border: 0px;
    border-radius: 15px;
    margin-left:80px;
    margin-top: 80px;
    margin-right: 50px;
    box-shadow: 0px 0px 10px #191b1d;
    transition: all 0.3s ease-in-out;
    padding-bottom: 50px;
    padding-top: 0px;
    display: inline-block;
    }

    .uniscitiig {
        color: white;
        text-decoration: none;
        border: 2px solid #ebca88;
        border-radius: 8px;
        padding: 15px 50px;
        font-size: 30px;
        font-family: 'Nunito', sans-serif;
    }


    .uniscitiig:hover {
        background-image: linear-gradient(60deg, #ffdf9e, #ffc273, #e56969, #c1558b, #8a49a1);
        border: transparent;
    }
    
    .igcard:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 14px #141516;
    }

    .carte {
        text-align: center;
        
    }

    .descrizione {
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 40px;
    font-size: 30px;
    }


    @media screen and (max-width:981px) {

        .dscard{
            
            margin:50px;
        }

        .igcard {
            
                margin:50px;
        }

        .titolo {
            font-size:180px;
        }
    }


    .endbar {
        
        background-color: #2c2f33;
        width: 100%;
        height: 100px;
        margin-bottom: 0px;
    }

    .credits {
        color: rgb(189, 188, 188);
        font-family: 'Nunito', sans-serif;
        padding-top: 40px;
        font-size: 20px;
        text-align: center;
    }

    .separatore {
        background-color: #2c2f33;
        width: 80%;
        height: 5px;
        margin: 100px auto;
        border: 0px;
        border-radius: 80px;
    }
    

   .recensione1 {
    background-color:#2c2f33;
    width: 400px;
    height: 460px;
    border: 0px;
    border-radius: 15px;
    margin: 50px 70px;
    box-shadow: 0px 0px 10px #191b1d;
    transition: all 0.3s ease-in-out;
    display: inline-block;
   }

   .recensione2 {
    background-color:#2c2f33;
    width: 400px;
    height: 460px;
    border: 0px;
    border-radius: 15px;
    margin: 50px 70px;
    box-shadow: 0px 0px 10px #191b1d;
    transition: all 0.3s ease-in-out;
    display: inline-block;
   }


   .recensione3 {
    background-color:#2c2f33;
    width: 400px;
    height: 460px;
    border: 0px;
    border-radius: 15px;
    margin: 50px 70px;
    box-shadow: 0px 0px 10px #191b1d;
    transition: all 0.3s ease-in-out;
    display: inline-block;
   }


   .recensioni {
    text-align: center;
    display: flexbox;
   }

   .nome-recensore {
       color: white;
       font-family: 'Nunito', sans-serif;
       font-size: 30px;
   }

   .img-recensore {
    border: 0px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-top: 20px;
   }

   .testo-recensione {
       color:white;
       font-family: 'Nunito', sans-serif;
       font-size: 20px;
       padding: 20px;
   }

   .stelle5 {
       width: 150px;
       height: 30px;
   }

   .recensione1:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 14px #141516;
   }

   .recensione2:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 14px #141516;
   }

   .recensione3:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 14px #141516;
   }

   .stelle4 {
    width: 150px;
    height: 35px;
}

.evento {
   background-color: rgb(255, 255, 255);
   width: 300px;
   height: 380px;
   
   text-align: center;
   border: 0px;
   border-radius: 15px;
   margin: 70px 50px;;
   box-shadow: 0px 0px 10px #131313;
   transition: all 0.3s ease-in-out;
   display: inline-block;
   
}


.img-evento {
    width: 100%;
    border: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.titolo-evento {
    color:black;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    padding: 10px;
}

.testo-evento {
    color:rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    padding: 0px;
}

.sfondotestoeventi {
   background-color:#2c2f33;
   width: 60%;
   text-align: center;
   border: 0px;
   border-radius: 15px;
   margin:100px auto;
   margin-top: 80px;
   box-shadow: 0px 0px 10px #191b1d;
   display: flexbox;
}

.evento:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 14px #131313;
}

.bottone-vincitori {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    border: 2px solid white;
    text-decoration: none;
    padding: 20px 50px;
    
}

.vincitori {
    text-align: center;
    margin-top: 70px;
    margin-bottom:200px;
}

.bottone-vincitori:hover {
    background-color: white;
    color: #25282b;
    font-size: 25px;
}